@media screen and (max-width: 768px) {
    .index {max-height: 0; top: 50px; bottom: 0;    
     width: 100%; height: auto; border-right: none; 
     opacity: 0; transform: translateY(-25px);
     transition: opacity .4s, transform .4s, max-height .4s;
     position: fixed; overflow: hidden;}
    .index.show {display: block; opacity: 1; transform: translateY(0); max-height: 3240px;}
    .content {width: 100%; margin-left: 0;}
    
    .index.show li {opacity: 0; animation: slideIn .4s forwards;}
       @keyframes slideIn {from {opacity: 0; transform: translateX(-30px);} to {opacity: 1; transform: translateX(0);}}
    .index.show li:nth-child(1) {animation-delay: .1s;}
    .index.show li:nth-child(2) {animation-delay: .2s;}
    .index.show li:nth-child(3) {animation-delay: .3s;}

    #toggleMenu {display: block; width: 100%;
     padding: 10px; font-size: 18px; background: #0088cc;
     color: #ffffff; border: none; cursor: pointer;}
    #toggleMenu:hover {background: #ff9999;}
}