html {
    text-align : center ;
    font-family : Mv Boli ;
}


h1 {
    color : aliceblue ;
    background-color:rgb(81, 111, 158) ;
    margin : 20px 20px 20px 20px ;
    padding : 20px 20px 20px 20px ;
}

ul {
    font-size: 1000;
}